<div
  class="nv-footer-newsletter"
  aria-label="{{ 'general.newsletter.label' | t | default: 'Newsletter' }}"
>
  <div class=" nv-newsletter-top-con">
    {%- comment -%} ROW 1  {%- endcomment -%}
    <div class="nv-footer-newsletter-top">
      <div class="nv-footer-newsletter-copy">
        {%- if heading != blank -%}
          <p class="nv-footer-newsletter-heading">{{ heading }}</p>
        {%- endif -%}
      </div>

      <span class="nv-footer-newsletter-icon" aria-hidden="true" focusable="false">
        {% render 'icons', icon: "footer-svg" %}
      </span>
    </div>

    {%- comment -%} ROW 2  {%- endcomment -%}
    <div class="nv-footer-newsletter-form-wrapper">
      {%- form 'customer',
        id: 'nv-footer-newsletter-form',
        class: 'nv-footer-newsletter-form',
        novalidate: 'novalidate'
      -%}
        <input type="hidden" name="contact[tags]" value="newsletter">

        {%- if form.errors -%}
          <p
            class="nv-footer-newsletter-msg nv-footer-newsletter-msg-error"
            role="alert"
            aria-live="assertive"
            id="nv-newsletter-error"
          >
            {{- form.errors.translated_fields.email | capitalize }}
            {{- form.errors.messages.email -}}
          </p>
        {%- endif -%}

        {%- if form.posted_successfully? -%}
          <p
            class="nv-footer-newsletter-msg nv-footer-newsletter-msg-success"
            role="status"
            aria-live="polite"
          >
            {{ 'general.newsletter.success_message' | t | default: 'Thanks for subscribing!' }}
          </p>
        {%- else -%}
          <div class="nv-footer-newsletter-field-wrapper">
            <label
              for="nv-footer-newsletter-email"
              class="nv-visually-hidden"
            >
              {{ 'general.newsletter.email_placeholder' | t | default: 'Enter your email' }}
            </label>

            <input
              id="nv-footer-newsletter-email"
              class="nv-footer-newsletter-input"
              type="email"
              name="contact[email]"
              value="{{ form.email }}"
              autocomplete="email"
              autocorrect="off"
              autocapitalize="off"
              spellcheck="false"
              placeholder="{{ 'general.newsletter.email_placeholder' | t | default: 'Enter your email' }}"
              {%- if form.errors -%}
                aria-describedby="nv-newsletter-error"
                aria-invalid="true"
              {%- endif -%}
              required
            >

            <button
              type="submit"
              class="nv-footer-newsletter-btn"
              name="commit"
            >
              <span>{{ 'general.newsletter.submit_button' | t | default: 'Subscribe' }}</span>
            </button>
          </div>
        {%- endif -%}
      {%- endform -%}
    </div>
  </div>
</div>
